@import "tailwindcss";

body{
  /* background: #282828; */
  /* background-image: url("./assets/background.png"); */
  object-fit: contain;
  font-family: "JetBrains Mono", monospace;
  background-size: cover;
  background-repeat: no-repeat;
  /* color: #BABABA !important; */
  background: black;
  color: white;
  overflow-x: hidden;
}
* {
    box-sizing: border-box;
}