@import "tailwindcss";

@font-face {
  font-family: "reg";
  src: url("./assets/Font/LumendDemoRegular-PKpzB.otf");
}
@font-face {
  font-family: "normal";
  src: url("./assets/Font/AnonymousPro-Regular.ttf");
}
body{
  object-fit: contain;
  font-family: "reg";
  background-size: cover;
  background-repeat: no-repeat;
  background: #0A0A0A;
  color: #FAFAFA;
  overflow-x: hidden;
  /* background: #F8F8F8; */
  /* color: #0B0B0B; */
}
* {
    box-sizing: border-box;
    overflow: visible !important;
}